*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(56, 56, 56);
    margin: 3%;
  }
  
  p{
    font-size: 18px
  }
 
  a{
      font-size: 16px;
      color: aquamarine
  }
  
  h1{
      text-align: center;
  }